body {
  margin: 0;
  padding: 1rem;
  font-family: sans-serif;
  background: #222;
  color: #eee;
}

.movie {
  background-color: #282828;
  border: 1px solid #444;
  border-radius: 5px;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  display: flex;
}

.movie .rating {
  padding: 0.5rem;
  font-size: 1.2rem;
}

.movie .main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movie .title {
  font-size: 1.2rem;
  font-weight: bold;
}

.movie .info {
  font-size: 0.8rem;
  color: #888;
}

.movie .hover {
  display: none;
  padding: 0.5rem;
  align-self: center;
}

.movie:hover .hover {
  display: block;
}

.movie .loading {
  padding: 0.5rem;
  align-self: center;
}

.onBack {
  background-color: #282828;
  border: 1px solid #444;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.MoviePoster {
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.MovieReviews {
  clear: left;
  display: flex;
  justify-content: center;
}

.MovieReviews .review {
  background-color: #282828;
  border: 1px solid #444;
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
  margin-bottom: 1rem;
}

.MovieReviews .review .author {
  margin-top: 1rem;
  color: #888;
}

.Spinner {
  text-align: center;
  width: 14px;
  animation: spin infinite 2s linear reverse;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
